*{
   background-color: #07080c;
}
#div1{
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap:200px;
}
#div2{
    color: aliceblue;
    display: flex;
    
}
#div3{
    color: aliceblue;
    
}
#div4{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#div6{
    color: aliceblue;
}
#div1 img{
    width: 500px;
    height: 300px;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    border-style: dashed;
    margin-left: 20px;
    margin-top: 10px;
    width: 300px;
    height: auto;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
}
body #div1{
    display: flex;
}
.bar{
    display: flex;
    gap: 20px;
    padding-left: 100px;
    padding-top: 100px;
}
.bar img{ 
    border: 2px solid #131456;
    height: 40px;
    width: 40px;
    border-radius: 15px;
    border-style: dashed;
}
#div3 ul{
    list-style: none;
}
#div4 h1{
    color: blueviolet;
}
#div5 h2{
    color: lightseagreen;
}
#div5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#div1 h1{
    color: white;
    font-size: 24px;
    transition: all 0.3s ease;
}
#div1 h1:hover{
    text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc, 0 0 30px #00ffcc;
    cursor: pointer;
}
#div1 img:hover{
    transform: rotateY(360deg);
}
#div7{
    border: 2px solid white;
    border-radius: 10px;
    border-style: dashed;
    width: 250px;
    height: 250px;
}
#newbtn{
    width:  100px;
    height: 45px;
    border: 2px solid white;
    color: aliceblue;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    margin-left: 550px;
    background-color: burlywood;
    border-radius: 20px;
    cursor: pointer;
}
#div9{
    border: 2px solid white;
    border-radius: 10px;
    border-style: dashed;
    width: 250px;
    height: 250px;
}
#div6{
    display: flex;
    gap: 200px;
}
#h3{
    font-size: 35px;
    color: aliceblue;
    text-align: center;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}